kube_secret_env cert CMAP_SERVICE_CLIENT test-cset:abuse-api-test:tls-cmapservice-client-cert
export CMAP_SERVICE_CLIENT_CERT="$CMAP_SERVICE_CLIENT_CERT"
export CMAP_SERVICE_CLIENT_KEY="$CMAP_SERVICE_CLIENT_KEY"