kube_secret_env cert CMAP_SERVICE_CLIENT test-cset:abuse-api-test:tls-cmapservice-client-cert
kube_secret_env cert MONGO_CLIENT test-cset:abuse-api-test:tls-mongo-common-cert-files
export CMAP_SERVICE_CLIENT_CERT="$CMAP_SERVICE_CLIENT_CERT"
export CMAP_SERVICE_CLIENT_KEY="$CMAP_SERVICE_CLIENT_KEY"
export MONGO_CLIENT_CERT="$MONGO_CLIENT_CERT"
kube_secret_env generic NETBOX_TOKEN test-cset:abuse-api-test:netbox-token:token
export sysenv="test"