aiohttp==3.9.2
appdirs==1.4.4
cached-property==1.5.2
celery==5.2.6
certifi==2023.7.22
cffi==1.14.5
chardet==4.0.0
defusedxml==0.7.1
dnspython==2.1.0
Flask==2.3.2
Flask-GraphQL==2.0.1
future==0.18.2
graphene==2.1.9
idna==2.10
isodate==0.6.0
lxml==4.9.1
ntlm-auth==1.5.0
promise==2.3
pycparser==2.20
pymongo[ocsp]==3.13.0
pyotp==2.6.0
python-ntlm3==1.0.2
python-whois==0.7.3
PyYAML==6.0.1
qrcode==6.1
redis==4.5.4
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==0.9.1
Rx==1.6.1
six==1.15.0
cryptography==42.0.2
# We use Suds for Toolzilla SOAP API
suds-py3==1.4.4.1
tld==0.12.5
urllib3==1.26.18
uWSGI==2.0.22
# We use Zeep for contacting IPAM SOAP API
zeep==4.0.0
importlib-metadata==4.0.1
